
.loginbox{
    width: 320px;
    height: 420px;
    background: #00000049;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    font-family:"Monaco"
}

.loginbox h5{
    text-align: center;
    position:relative;
    bottom: 25px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 10px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox button{
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    position:relative;
    top: 20px;
    left: 35px;
    background: #1f6fd6;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox button:hover{
    cursor:pointer;
    background:#fff;
    color:#000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:darkgrey;
}

.loginbox a:hover{
    cursor:pointer;
    color:#fff;
}

